<div class="funcionario-box">
    <button>Cadastrar Novo Funcionário</button>
    <div class="input-box">
        <label>Procurar</label>
        <input type="text" placeholder="Digite o nome do registro">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="../../../assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
                <img src="../../../assets/images/Inativo.png" style="height: 20px; width: 20px;">
            </td>
            <td>Carlos</td>
            <td>Eduardo</td>
            <td>Departamento</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
        </tr>
    </tbody>

</table>
